/.idea/
/AndroidSqlEditorDatabases/
/.PythonDiagrams/export/
/auxil/
/out/*.gz
*/conversations.json
*/chat.html
/vambindings/build/*
/vambindings/.git.old/*
/vambindings/extern/*
/VAMpyBindings/CMakeFiles/
/VAMpyBindings/.cmake/
/VAM_0_Einstein_to_Vortex_Fluid/Definitions/
/VAM_0_Einstein_to_Vortex_Fluid/editors1.json
/VAM_0_Einstein_to_Vortex_Fluid/editors2.json
/VAM_0_Einstein_to_Vortex_Fluid/editors3.json
/VAM_0_Einstein_to_Vortex_Fluid/MDPI_template.zip
/VAM_0_Einstein_to_Vortex_Fluid/O.Iskandarani_Einstein_To_VAM.entropy.zip
/VAM_0_Einstein_to_Vortex_Fluid/O.Iskandarani_Einstein_To_VAM.SpringerFoF.zip
/docs/vam bookmarks.html
