/.idea/
/AndroidSqlEditorDatabases/
/.PythonDiagrams/export/
/auxil/
/out/*.gz
*/conversations.json
*/chat.html
/vambindings/build/*
/vambindings/.git.old/*
/vambindings/extern/*
/VAMpyBindings/CMakeFiles/
/VAMpyBindings/.cmake/
